@model QuanLyCongTy.Models.NhanVien

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="color:red">Bạn có thật sự muốn xóa?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">

        <dt>
            Mã Nhân viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNV)
        </dd>

        <dt>
            Tên Nhân viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNV)
        </dd>

        <dt>
            Chức vụ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChucVu.NameChucVu)
        </dd>

        <dt>
            Phòng ban
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChucVu.PhongBan.NamePhongBan)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
