@model QuanLyCongTy.Models.NhanVien

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>NhanVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã Nhân viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNV)
        </dd>

        <dt>
            Tên Nhân viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNV)
        </dd>

        <dt>
            Chức vụ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChucVu.NameChucVu)
        </dd>

        <dt>
            Phòng ban
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChucVu.PhongBan.NamePhongBan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaNV.Trim() }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
