@model QuanLyCongTy.Models.ChucVu

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thêm chức vụ</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.ChucVuID, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label>Mã chức vụ</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChucVuID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ChucVuID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Tên chức vụ</label>
            @*@Html.LabelFor(model => model.NameChucVu, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.NameChucVu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NameChucVu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Phòng ban</label>
            @*@Html.LabelFor(model => model.IDPhongBan, "IDPhongBan", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.DropDownList("IDPhongBan", null, htmlAttributes: new { @class = "form-control list-searchable" })
                @Html.ValidationMessageFor(model => model.IDPhongBan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>
